
.content a:link,
.content a:visited,
.content a:hover,
.content a:active
{
    display: block;

}



body {
    color: #474423;
}

.myNav {
    margin: 0 500px;
}

.title {
    margin-bottom: 30px;
}


.data-container h5 {
    margin-bottom: 30px;
}


.container2 {
    padding: 8px 22%;

    border-radius: 0%;;
}



.main {
    min-height: 450px;
    font-size: 90%;
}

.data-container {
    line-height: 5px;
}


.button-search {
    display: none;
}

.footer p {
    text-align: right;
    font-size: 80%;
    line-height: 4px;
}

.alert__edit {
    display: none;
}

.data-info {
    margin-top: 70px;
    font-size: 90%;
    display: block;
    text-align: right;
}

.container-chart {
    top: 5%;
    left: -9999%;

    position: absolute;
    width: 100%;
    height: 55%;
    min-height: 450px;
    display: none;
    background-color: rgba(0, 0, 0, 0.37);  
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}

.chart {
    display: flex;
    margin: 10px 10%;
    height: 80%;
}

.btn-close-chart {
   text-align: right;
   padding-right: 15px;
   padding-top: 15px;
}


@media only screen and (max-width: 767px) {
    .container-chart {
        top: 5%;

    }

    .data-container {
        line-height: 15px;
    }

    .data-container h5 {
        margin-bottom: 38px;
    }

    
}

